.login-form-container {
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: #7f11e0;
    border-color: #7f11e0;
}

.btn-primary:hover {
    background-color: purple;
    border-color: purple;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary.focus {
    background-color: #7f11e0;
    border-color: #7f11e0;
}

.form-control:focus {
    border-color: #7f11e0;
    box-shadow: 0 0 0 0.2rem rgba(127, 17, 224, 1);
}