.button {
    background-color: #5a45bd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
}

.button:hover {
    background-color: mediumpurple;
}

.button.active{
    background-color: purple;
}
.button.disabled{
    background-color: mediumpurple;
    cursor: not-allowed;
}

.content {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.alert-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}